@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./base.css";

  @import "swiper/css";
  @import "swiper/css/navigation";
  @import "./swiper.css";

  a {
    @apply text-[#999900];
  }

  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

  body {
    @apply bg-white;
  }

  h1 {
    @apply font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl;
    text-shadow: 1px 1px 1px #000000;
  }

  h2 {
    @apply font-bold text-xl sm:text-xl md:text-2xl lg:text-3xl;
  }

  :root {
    --custom-ligth-grey: #E5E5E5;
    --custom-dark-grey: #f4f4f4;
    --custom-metal: #4f4f4f;
  }

}

@layer components {
  @import "./components.css";
}

.full-bleed-ligth-grey {
  background-color: var(--custom-ligth-grey);
  box-shadow: 0 0 0 100vmax var(--custom-ligth-grey);
  clip-path: inset(0 -100vmax);
}

.full-bleed-dark-grey {
  background-color: var(--custom-dark-grey);
  box-shadow: 0 0 0 100vmax var(--custom-dark-grey);
  clip-path: inset(0 -100vmax);
}

.full-bleed-metal {
  background-color: var(--custom-metal);
  box-shadow: 0 0 0 100vmax var(--custom-metal);
  clip-path: inset(0 -100vmax);
}

.judgement-bg {
  background-image: url("../../public/lib.jpg");
}

.lib-bg {
  background-image: url("../../public/lib2.jpg");
}


.office-bg {
  background-image: url("../../public/escritorio.jpg");
}

.text-shadow-lg {
   text-shadow: 0 0 4px #000000;
}

.text-shadow-none {
    text-shadow: none;
}
